<header class="group">
    <nav class="navbar navbar-left">
    <h2>Admin interface</h2>
    </nav>
    <nav class="navbar navbar-right">
        <ul>
        <li><button class="btn btn-active" id="btn-actions" onclick="activateActions()">Actions</button></li>
        <li><button class="btn" id="btn-accounts" onclick="activateAccounts()">Accounts</button></li>
        </ul>
    </nav>
</header>
<hr/>

<div id="admin-actions">

<h4>Team management</h4>
<form method="post" action="$base/add_team" class="forms">
<div class="units-row">
    <div class="unit-30">
        <p class="input-groups">
            <input type="text" name="addteam" placeholder="Add team" />
            <span class="btn-append">
                <button class="btn btn-black">Add</button>
            </span>
        </p>
    </div>
    <div class="unit-30">
        <span class="forms-desc">Team explanation</span>
    </div>
</div>
</form>

<hr />

<h4>Group management</h4>
<form method="post" action="$base/add_group" class="forms">
<div class="units-row">
    <div class="unit-30">
        <p class="input-groups">
            <input type="text" name="addgroup" placeholder="Add group" />
            <span class="btn-append">
                <button class="btn btn-blue">Add</button>
            </span>
        </p>
    </div>
    <div class="unit-30">
        <span class="forms-desc">Group will be associated with the following team</span>
    </div>
    <div class="unit-20">
        <select>
            <option>cmsdataops</option>
        </select>
    </div>
</div>
</form>

<hr />

<h4>User management</h4>
<form method="post" action="$base/add_user" class="forms">
<div class="units-row">
    <div class="unit-30">
        <p class="input-groups">
            <input type="text" name="adduser" placeholder="Add user" />
            <span class="btn-append">
                <button class="btn btn-green">Add</button>
            </span>
        </p>
    </div>
    <div class="unit-30">
        <span class="forms-desc">User will be added to the following group</span>
    </div>
    <div class="unit-20">
        <select>
            <option>SomeGroupName</option>
        </select>
    </div>
</div>
</form>

</div> <!-- end of actions -->

<!-- Accounts -->

<div id="admin-accounts" class="hide">

<h4>Existing accounts</h4>
<div class="table-container">
    <table class="table-bordered width-100">
    <thead>
        <tr>
            <th>Users</th>
            <th>Groups</th>
            <th>Teams</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>User 1</td>
            <td>Group 1</td>
            <td>Team 1</td>
        </tr>
        <tr>
            <td>User 2</td>
            <td>Group 2</td>
            <td>Team 3</td>
        </tr>
        <tr>
            <td>User 3</td>
            <td>Group 2</td>
            <td>Team 3</td>
        </tr>
    </tbody>
    </table>
</div>

</div> <!-- end of accounts -->

<script>
function activateActions() {
    var id = document.getElementById('btn-actions');
    id.className="btn btn-active";
    id = document.getElementById('btn-accounts');
    id.className="btn";
    ShowTag('admin-actions');HideTag('admin-accounts');
}
function activateAccounts() {
    var id = document.getElementById('btn-accounts');
    id.className="btn btn-active";
    id = document.getElementById('btn-actions');
    id.className="btn";
    ShowTag('admin-accounts');HideTag('admin-actions');
}
</script>
