<h2>Assign interface</h2>
<hr/>
Request statistics: N-requests, last update: 20140303
The search field will allow to search request by their names.
The search results will appear in table below, otherwise it
will show all existing request

<form method="get" action="$base/request" class="forms">
    <label class="input-groups">
        <input type="text" name="uinput" placeholder="Request name" />
        <span class="btn-append">
            <button class="btn btn-blue">Search</button>
        </span>
    </label>
</form>

<h4>Existing requests</h4>
This will be sorted scrolled table of pending requests (will show
first N requests).
Users will be able to perform sort by user/request/teams.
Once satisfied with selection user will be able to perform an action to selected
group of requests.
<div class="table-container">
    <form method="post" action="" class="forms">
    <table class="table-bordered width-100">
    <thead>
        <tr>
            <th class="width-10">
                <input type="checkbox" name="checkbox-all" id="checkbox-all">
                Select
            </th>
            <th>Requests</th>
            <th>Users</th>
            <th>Teams</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
               <input type="checkbox" name="checkbox-1" id="checkbox-1">
            </td>
            <td>Request 1</td>
            <td>User 1</td>
            <td>Team 1</td>
            <td>Status 1</td>
        </tr>
        <tr>
            <td>
               <input type="checkbox" name="checkbox-2" id="checkbox-2">
            </td>
            <td>Request 2</td>
            <td>User 2</td>
            <td>Team 2</td>
            <td>Status 2</td>
        </tr>
        <tr>
            <td>
               <input type="checkbox" name="checkbox-3" id="checkbox-3">
            </td>
            <td>Request 3</td>
            <td>User 3</td>
            <td>Team 3</td>
            <td>Status 3</td>
        </tr>
    </tbody>
    </table>
    <br/>
    <div class="units-row">
        <div class="unit-20 unit-push-60">
            <select>
                <option>SomeGroupName</option>
            </select>
        </div>
        <div class="unit-20 unit-push-right">
            <button class="btn btn-green">Assign</button>
            <button class="btn">Cancel</button>
        </div>
    </div>
    </form>
</div>
