<h2>Assign interface</h2>
<hr/>
<header class="group">
<nav class="navbar navbar-left">
    <strong>
    This interface will only show requests which are required assingments based<br/>
    on your DN roles. If you have unsifficient role this part will not be<br/>
    visible to user.
    </strong>
</nav>
<nav class="navbar navbar-right">
    <ul>
        <li>Sort by:</li>
        <li class="menu-item active underline"><a href="#" onclick="ChangeMenuItem('menu-item', this);">Status</a></li>
        <li class="menu-item"><a href="#" onclick="ChangeMenuItem('menu-item', this);">Date</a></li>
        <li class="menu-item"><a href="#" onclick="ChangeMenuItem('menu-item', this);">Id</a></li>
        <li class="menu-item"><a href="#" onclick="ChangeMenuItem('menu-item', this);">Team</a></li>
    </ul>
</nav>
</header>

<hr/>

<h4>Existing requests</h4>
This will be sorted sortable table of pending requests (will show
first N requests).
Users will be able to perform sort by user/request/teams.
Once satisfied with selection user will be able to perform an action to selected
group of requests.
<form method="post" action="$base/confirm_create" class="forms">

<div class="table-container">
    <table class="table-bordered width-100">
    <thead>
        <tr>
            <th class="width-10">
                <input type="checkbox" name="checkbox-all" id="checkbox-all" onclick="CheckAll(this)"/>
                Select
            </th>
            <th>Requests</th>
            <th>Users</th>
            <th>Teams</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
               <input type="checkbox" name="checkbox-1" id="checkbox-1"/>
            </td>
            <td>Request 1</td>
            <td>User 1</td>
            <td>Team 1</td>
            <td>Status 1</td>
        </tr>
        <tr>
            <td>
               <input type="checkbox" name="checkbox-2" id="checkbox-2"/>
            </td>
            <td>Request 2</td>
            <td>User 2</td>
            <td>Team 2</td>
            <td>Status 2</td>
        </tr>
        <tr>
            <td>
               <input type="checkbox" name="checkbox-3" id="checkbox-3"/>
            </td>
            <td>Request 3</td>
            <td>User 3</td>
            <td>Team 3</td>
            <td>Status 3</td>
        </tr>
    </tbody>
    </table>
</div>
<div class="units-row">
    <div class="unit-push-right">
        <ul class="forms-inline-list">
        <li>
            <select>
                <option>SomeGroupName</option>
                <option>SomeGroupName</option>
                <option>SomeGroupName</option>
            </select>
        </li>
        <li>
            <button class="btn btn-green">Assign</button>
        </li>
        </ul>
    </div>
</div>

</form>
