#import time
<h6>Confirmation</h6>
<hr/>
<div id="results">
Your request &nbsp;<span class="ticket">$ticket</span>&nbsp;
has been created on <kbd>$time.ctime()</kbd>
<br/>
<br/>
<br/>
<h6>Further actions</h6>
<ul>
<li>
<a href="/requests?rid=$ticket">Check</a> status of this request
</li>
<li>
<a href="/requests?user=$user">Check</a> status of all requests
</li>
</ul>
</div>
