$header
<textarea class="editor lined">
$code
</textarea>
<br/>
<button class="btn right btn-red">Cancel</button>
&nbsp;
<button class="btn right btn-yellow">Re-assign</button>
&nbsp;
<button class="btn right btn-green">Re-submit</button>
<script type="text/javascript">MakeLines();</script>
