<!DOCTYPE html>
<html>
<head>
    <title>ReqMgr Prototype</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="$base/js/?f=utils.js&amp;f=jquery-linedtextarea.js"></script>
    <link rel="stylesheet" href="$base/css/?f=kube.min.css&amp;f=main.css&amp;f=jquery-linedtextarea.css" />
</head>
<body class="kubepage">

    <header class="group header">
        <nav class="navbar navbar-left">
            <ul>
            <li><img src="$base/images/cms_logo.jpg" alt="" style="width:30px" ></li>
            <li><a href="$base" class="btn">ReqMgr</a></li>
            <li><a href="/agent1/" class="btn">Agent 1</a></li>
            <li><a href="/agent2/" class="btn">Agent 2</a></li>
            <li><a href="/agent3/" class="btn">Agent 3</a></li>
            <li><a href="/agent4/" class="btn">Agent 4</a></li>
            </ul>
        </nav>
        <nav class="navbar navbar-right">
            <strong>User: $user</strong>
        </nav>
    </header>
    <br/>

    $content

</body>
</html>
