<div class="unit-10"></div>
<div class="unit-10 gray">
<nav class="nav nav-stacked">
    <ul>
#for item in sorted($menus.keys())
#set style=$menus[$item]
#set title=$item.capitalize()
    <li class="$style"><a href="$base/$item">$title</a></li>
#end for
    </ul>
</nav>
</div>
