<h2>Search interface</h2>
<hr/>
DB statistics: N-docs, Number TB, last update: 20140303

<form method="get" action="$base/request" class="forms">
    <label class="input-groups">
        <input type="text" name="uinput" placeholder="Search" />
        <span class="btn-append">
            <button class="btn btn-blue">Search</button>
        </span>
    </label>
</form>
