<h2>Validate interface</h2>
<hr/>
Paste your JSON into provided box:
<form method="post" action="/confirm_create" class="forms">
<textarea class="editor"></textarea>
<br/>
<button class="btn right btn-green">Validate</button>
</form>
